/* reset */
*,
html,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color parameters */
:root {
    --green-1-color:#596D48;
    --gray-1-color:#F5F5F5;
    --gray-2-color:#E5E7EB;
    --white-color:#fff;
}

/* general */
a {
    color: inherit;
}

li {
    list-style-type: none;
}

main{
    display: flex;
    height: 100vh;
}

section:first-child {
    width: 40%;
    z-index: 1;
    background-image: url(../images/leaves.jpg); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section:nth-child(2) {
    flex: 1 ;
    background: var(--gray-1-color);
}


/* fonts */
:root {
    --main-font: 'roboto', helvetica, sans-serif;
    font-family: var(--main-font);
}

h1 {
    font-size: 36px;
    margin: 0 0 20px 0;
}

p {
    font-size: 24px;
}

/* inputs and labels */

input {
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--gray-2-color);
    border-radius: 4px;
}

label {
    font-size: 16px;
}


/* SignUp section */
section.signUpForm {
display: flex;
flex-direction: column;
justify-content: center;
--padding-signUpForm:40px;
padding: var(--padding-signUpForm);
}

section.signUpForm div {
    background: var(--white-color);
    padding: 40px;
    margin: 40px calc( 0px - var(--padding-signUpForm));
    box-shadow: 0px 5px 20px #e3e2e2;

}

section.signUpForm div form {
    display: flex;
    flex-wrap: wrap;
    --form-gap:60px;
    column-gap: var(--form-gap) ;
    row-gap: 40px;
}
section.signUpForm div form label {
    display: flex;
    flex-direction: column;
    width: calc(45% - var(--form-gap)) ;
}

section.signUpForm button {
    border: none;
    background: var(--green-1-color);
    color: var(--white-color);
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    margin-top: 20px;
}

section.signUpForm p+p {
    margin-top: 20px;
}


